
    div.wrapper {
        position: absolute;
        width: 1472px;
        height: 30px;
        top: 1039px;
        left: 4688px;
        overflow: hidden;
    }

    div.load {
        position: absolute;
        width: 644px;
        height: 12px;
        top: 9px;
        background: linear-gradient(to right, rgba(85,208,247,0), rgba(85,208,247,1), rgba(173,255,0,1));
        border-radius: 6px;
        animation: loader 72s linear infinite 4s;
        animation-fill-mode: both;
    }

    img.scan {
        animation: scan 10s linear;
        animation-play-state: paused;
        animation-iteration-count: 2;
        animation-fill-mode: both;
    }

    div.scan {
        position: absolute;
        width: 502px;
        height: 300px;
        background: linear-gradient(to top, rgba(12,28,96,0), rgba(12,28,96,1));
        animation: scan_mask 10s linear;
        animation-iteration-count: 2;
        animation-play-state: paused;
        animation-fill-mode: both;
    }

    div.mask_top {
        position: absolute;
        width: 502px;
        height: 300px;
        animation: scan_mask_top 10s linear infinite;
    }

    div.container {
        position: absolute;
        left: 9054px;
        top: 254px;
        overflow: hidden;
        width: 1114px;
        height: 660px;
    }

    image.flash {
        /*animation: show 1s 10s, flash 2s linear infinite 10s;*/
        animation: flash 2s linear infinite 9s;
        animation-fill-mode: both;
    }

    img.cloud1 {
        position: absolute;
        left: 1860px;
        top: 288px;
        animation: show 0.2s 3s, cloud1 2s linear infinite 2s;
        animation-fill-mode: both;
    }

    img.cloud2 {
        position: absolute;
        left: 2046px;
        top: 278px;
        animation: show 0.2s 3s, cloud2 2s linear infinite 2s;
        animation-fill-mode: both;
    }

    img.cloud3 {
        position: absolute;
        left: 1940px;
        top: 338px;
        animation: show 0.2s 3s, cloud3 2s linear infinite 2s;
        animation-fill-mode: both;
    }

    img.azure {
        position: absolute;
        left: 2072px;
        top: 436px;
        animation: show 1s 4s, azure 2s linear infinite 4s;
        animation-fill-mode: both;
    }

    img.spark {
        position: absolute;
        left: 1790px;
        top: 0px;
        animation: spark 2s linear infinite 9s;
        animation-fill-mode: both;
    }

    img.light0 {
        position: absolute;
        left: 1662px;
        top: 172px;
        animation: show 0.2s 6s, light0 4s linear infinite 6s;
        animation-fill-mode: both;
    }

    img.light1 {
        position: absolute;
        left: 2428px;
        top: 172px;
        animation: show 0.2s 6s, light1 4s linear infinite 6s;
        animation-fill-mode: both;
    }

    img.light2 {
        position: absolute;
        left: 2211px;
        top: 223px;
        animation: show 0.2s 6s, light2 4s linear infinite 6s;
        animation-fill-mode: both;
    }

    img#sun1 {
        position: absolute;
        left: 4674px;
        top: 1000px;
        transform-origin: 50% 100%;
        animation: show 1s 2s, scale 36s linear infinite 4s;
        animation-fill-mode: both;
    }

    img#sun2 {
        position: absolute;
        left: 4856px;
        top: 1000px;
        transform-origin: 50% 100%;
        animation: show 1s 2s, scale 36s linear infinite 8s;
        animation-fill-mode: both;
    }

    img#sun3 {
        position: absolute;
        left: 5041px;
        top: 1000px;
        transform-origin: 50% 100%;
        animation: show 1s 2s, scale 36s linear infinite 12s;
        animation-fill-mode: both;
    }

    img#sun4 {
        position: absolute;
        left: 5225px;
        top: 1000px;
        transform-origin: 50% 100%;
        animation: show 1s 2s, scale 36s linear infinite 16s;
        animation-fill-mode: both;
    }

    img#sun5 {
        position: absolute;
        left: 5409px;
        top: 1000px;
        transform-origin: 50% 100%;
        animation: show 1s 2s, scale 36s linear infinite 20s;
        animation-fill-mode: both;
    }

    img#night1 {
        position: absolute;
        left: 5593px;
        top: 1000px;
        transform-origin: 50% 100%;
        animation: show 1s 2s, scale 36s linear infinite 24s;
        animation-fill-mode: both;
    }

    img#night2 {
        position: absolute;
        left: 5775px;
        top: 1000px;
        transform-origin: 50% 100%;
        animation: show 1s 2s, scale 36s linear infinite 28s;
        animation-fill-mode: both;
    }

    img#night3 {
        position: absolute;
        left: 5960px;
        top: 1000px;
        transform-origin: 50% 100%;
        animation: show 1s 2s, scale 36s linear infinite 32s;
        animation-fill-mode: both;
    }

    img#night4 {
        position: absolute;
        left: 6143px;
        top: 1000px;
        transform-origin: 50% 100%;
        animation: show 1s 2s, scale 36s linear infinite 36s;
        animation-fill-mode: both;
    }

    .result {
        animation: show 3s linear;
        animation-play-state: paused;
        animation-fill-mode: both;
    }

    #map {
        animation: show 1s linear;
        animation-delay: 0s;
        animation-fill-mode: both;
    }

    .bg_pic, .tip {
        animation: show 1s linear;
        animation-delay: 1s;
        animation-fill-mode: both;
    }

    .legend, #timeline, #left_title {
        animation: show 1s linear;
        animation-delay: 2s;
        animation-fill-mode: both;
        animation-play-state: unset;
    }

    .map_pic {
        animation: rotate 1s linear;
        animation-delay: 2s;
        animation-fill-mode: both;
    }

    .map, .map1, .map2, #time {
        animation: show 1s linear;
        animation-delay: 3s;
        animation-fill-mode: both;
    }

    .left_upper_icon {
        animation: show 1s 6s;
        animation-fill-mode: both;
    }

    #light {
        position: absolute;
        left: 1562px;
        top: 699px;
        animation: show 0.2s 8s, clip 2s 8s;
        animation-fill-mode: both;
    }

    #left_lower_icon {
        transform-origin: 50% 50%;
        animation: left_lower_icon 2s 8s;
        animation-fill-mode: both;
    }

    #line {
        animation: show 1s 5s;
        animation-fill-mode: both;
    }

    #event1 {
        animation: show 1s 6s;
        animation-fill-mode: both;
    }

    #event2 {
        animation: show 1s 7s;
        animation-fill-mode: both;
    }

    #event3 {
        animation: show 1s 8s;
        animation-fill-mode: both;
    }

    #event4 {
        animation: show 1s 9s;
        animation-fill-mode: both;
    }

    #event5 {
        animation: show 1s 10s;
        animation-fill-mode: both;
    }

    #event6 {
        animation: show 1s 11s;
        animation-fill-mode: both;
    }

    #event7 {
        animation: show 1s 12s;
        animation-fill-mode: both;
    }

    #right_title {
        animation: show 1s 6s;
        animation-fill-mode: both;
    }

    .button_on {
        position: absolute;
        width: 82px;
        height: 60px;
        border: 1px solid #1eecff;
        border-radius: 4px;
        fill: #1eecff;
        text-align: center;
        font-size: 22px;
        font-family: GothamBook;
        background-color: #1eecff;
        color: #000000;
        line-height: 60px;
        box-shadow: 0px 0px 20px #1eecff;
    }

    .button_off {
        position: absolute;
        width: 82px;
        height: 60px;
        border: 1px solid #1eecff ;
        border-radius: 4px;
        fill: #1eecff;
        text-align: center;
        font-size: 22px;
        font-family: GothamBook;
        background-color: #091644;
        color: #ffffff;
        line-height: 60px;
    }

    #chart_A, #chart_B, #button_A, #button_B {
        animation: show 1s;
        animation-fill-mode: both;
    }

    .card {
        animation: rotate 1s linear;
        animation-delay: 8s;
        animation-fill-mode: both;
    }

    .card_info {
        animation: show 1s 9s;
        animation-fill-mode: both;
    }
    
    #button_map {
        position: absolute;
        left: 6213px;
        top: 390px;
        width: 200px;
        height: 70px;
        border-radius: 35px;
        background-color: #00f0ff;
        line-height: 70px;
        font-family: gothambold;
        font-size: 28px;
        text-align: center;
        color: #000000;
        animation: show 1s linear;
        animation-delay: 3s;
        animation-fill-mode: both;
    }